html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0f002e; 
    color: #ff6f00; 
}

.custom-text-color {
    color: #ff6f00;
}