@page
@{
    ViewData["Title"] = "Welcome!";
}

<h1>@ViewData["Title"]</h1>
<p>Welcome to the PostLogin page!</p>
<a asp-controller="MonetaryDonations" asp-action="Index">Monatary Donations</a>
<a asp-controller="GoodsDonations" asp-action="Index">Goods Donations</a>
<a asp-controller="Categories" asp-action="Create">Add Categories</a>

